---
name: New Release

on:
  release:
    types:
      - published

jobs:
  publish:
    runs-on: ubuntu-24.04
    steps:
      - name: "Check out repository code" 
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Build
        run: make build-all

      - name: Upload
        run: |
          docker run -v ./bin:/build -e "MC_HOST_bucket=https://${{ secrets.S3_BUCKET_ACCESS_KEY }}:${{ secrets.S3_BUCKET_SECRET_KEY }}@${{ secrets.S3_BUCKET_ENDPOINT }}" minio/mc cp -r /build/* bucket/
